:host ::ng-deep .mtx-grid {
    height: 480px;
  }
  
.mat-header-cell {
    color: rgba(0, 0, 0, .54);
    font-size: 14px !important;
  }
  .col-lg-12.stt {
    text-align: right;
    margin: 15px 0px;
}

  