.col-lg-12.bg-white.st-bg {
    padding: 10px 22px 40px 22px;
    margin-bottom: 20px;
}
.b-bx {
    padding: 20px;
    border: 1px solid #cccccc8c;
    margin-bottom: 15px;
    background: #cccccc12;
}
.b-bx a p{
    color: #212121;
}

.b-bx:hover {
    padding: 20px;
    border: 1px solid #2b91fd;
}
