<page-header class="bg-green-600"></page-header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 bg-white st-bg">
                <h2 style="margin-bottom: 40px;font-size: 20px;color: #000;">Settings</h2>
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/user.png" alt=""/>
                        <p>User</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/management.png" alt=""/>
                        <p>Department</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/callflow.png" alt=""/>
                        <p>Design Flow</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/did.png" alt=""/>
                        <p>DID Number</p>
                         </a>
                         </div>
                    </div>
                </div>
            </div>

            <!-- fonctionality -->
            <div class="col-lg-12 bg-white st-bg">
                <h2 style="margin-bottom: 40px;font-size: 20px;color: #000;">Functionality</h2>
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/sms.png" alt=""/>
                        <p>After Call SMS</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/followup.png" alt=""/>
                        <p>Followup Setting</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/contact.png" alt=""/>
                        <p>Contact</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/export.png" alt=""/>
                        <p>Export</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/block-list.png" alt=""/>
                        <p>Block List</p>
                         </a>
                         </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/logs.png" alt=""/>
                        <p>System Logs</p>
                         </a>
                         </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/api.png" alt=""/>
                        <p>Api Integration</p>
                         </a>
                         </div>
                    </div>
                </div>
            </div>

            <!-- accounts -->
            <div class="col-lg-12 bg-white st-bg">
                <h2 style="margin-bottom: 40px;font-size: 20px;color: #000;">Accounts</h2>
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/billing.png" alt=""/>
                        <p>Billing</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/business.png" alt=""/>
                        <p>Business Information</p>
                        </a>
                        </div>
                    </div>
                   
                </div>
            </div>

            <!-- your information -->
            <div class="col-lg-12 bg-white st-bg">
                <h2 style="margin-bottom: 40px;font-size: 20px;color: #000;">Your Information</h2>
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div class="b-bx">
                        <a href="javascript:void(0);">
                        <img src="assets/images/pereference.png" alt=""/>
                        <p>Preferences</p>
                        </a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>