<page-header></page-header>
    <mat-card>
      <mat-tab-group class="m--16">
        <mat-tab label="Validity Plan">
          <div class="m-16">
            <app-validity-plan></app-validity-plan>
          </div>
        </mat-tab>
        <mat-tab label="Price to Minute Plan">
          <div class="m-16">
           

          </div>
        </mat-tab>
        <mat-tab label="Minute Plan">
          <div class="m-16">
            

          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
