<page-header class="bg-blue-600"></page-header>
<div class="row">

  <div class="col-lg-12">
    <mtx-grid class="mat-elevation-z8" [data]="list"
              [columns]="columns"
              [loading]="isLoading"
              [columnResizable]="columnResizable"
              [multiSelectable]="multiSelectable"
              [rowSelectable]="rowSelectable"
              [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
              [rowHover]="rowHover"
              [rowStriped]="rowStriped"
              [showToolbar]="showToolbar"
              [toolbarTitle]="'Role & Permissions'"
              [columnHideable]="columnHideable"
              [columnMovable]="columnMovable"
              [expandable]="expandable"
              [expansionTemplate]="expansionTpl"
              [toolbarTemplate]="toolbarTpl"
              [pageOnFront]="showPaginator"
              [showPaginator]="showPaginator"
              [pageSizeOptions]="[5,10,50,100]"
              [pageIndex]="0"
              [pageSize]="50"
              (sortChange)="changeSort($event)"
              (selectionChange)="changeSelect($event)">
    </mtx-grid>
    <ng-template #expansionTpl let-row>

      <mat-chip-list
  class="example-chip p-8"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  <mat-chip
    class="example-box"
    cdkDrag
    *ngFor="let permission of row.permissions">
    {{permission}}
  </mat-chip>
</mat-chip-list>
    </ng-template>
    <ng-template #toolbarTpl>
      <button mat-stroked-button color="primary" (click)="openRole()">
        <mat-icon>add</mat-icon>Add Role
      </button>
      <input fxHide.lt-sm
        placeholder="Start typing"
        type="text"
        style="
          padding: 5px;
          margin: 0px 2px;
          border: 1px solid #d7d7d7;
          line-height: 24px;
          border-radius: 4px;"
        class="form-control"
        autocomplete="off"
        [(ngModel)]="filterSearch"
        (ngModelChange)="searchData($event)"
      />
    </ng-template>
  </div>
</div>
