<h2 mat-dialog-title>Add DST Number</h2>
<form [formGroup]="adddstnumber" (ngSubmit)="submitdstnumber()">
  <mat-dialog-content>


    <mat-form-field>
      <mat-label>IP</mat-label>
      <mat-select formControlName="ip"
                  required>
        <mat-option *ngFor="let ip of allips; index as i;" [value]="ip._id">
          {{ ip.ipnumber }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="adddstnumber.get('ip').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>

    <table class="demo-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>DST Number</mat-label>
            <input type="number" matInput placeholder="991515000" formControlName="dstnumber"
                   required>
            <mat-error *ngIf="adddstnumber.get('dstnumber').invalid">
              {{'validations.required'| translate}}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-checkbox class="st-chk" [value]="falseValue"
                        (change)="checkboxChange($event.source, $event.checked)"
                        formControlName="inusestatus">In Use
          </mat-checkbox>
        </td>
      </tr>
    </table>

    <!-- <p>
      <mat-form-field class="demo-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput>1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="demo-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <table class="demo-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>City</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>State</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>Postal code</mat-label>
            <input matInput #postalCode maxlength="5" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table> -->



  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial
            type="submit">Submit</button>
  </mat-dialog-actions>
</form>
