<h2 mat-dialog-title>Add DST Number</h2>
<form [formGroup]="adddstnumber" (ngSubmit)="submitdstnumber()">
  <mat-dialog-content>
    <mat-form-field class="demo-full-width">
      <mat-label>IP</mat-label>
      <mat-select formControlName="ip"
                  required>
        <mat-option *ngFor="let ip of allips; index as i;" [value]="ip._id">
          {{ ip.ipnumber }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="adddstnumber.get('ip').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="demo-full-width">
      <mat-label>Allot To</mat-label>
      <mat-select formControlName="assign"
                  required>
        <mat-option *ngFor="let staff of allstaff; index as i;" [value]="staff._id">
          {{ staff.firstname }} {{ staff.lastname }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="adddstnumber.get('assign').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="demo-full-width">
      <mat-label>Allot by</mat-label>
      <mat-select formControlName="assign"
                  required>
       <mat-option *ngFor="let user of allusers; index as i;" [value]="user._id">
          {{ user.firstname }} {{ user.lastname }}
        </mat-option>

      </mat-select>


      <mat-error *ngIf="adddstnumber.get('assignm').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>

    <table class="demo-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="demo-full-width">
            <mat-label>DST Number</mat-label>
            <input type="number" matInput placeholder="991515000" formControlName="did_no"
                   required>
            <mat-error *ngIf="adddstnumber.get('did_no').invalid">
              {{getErrorMessage(adddstnumber)| translate}}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-checkbox class="st-chk" [value]="falseValue"
                        (change)="checkboxChange($event.source, $event.checked)"
                        formControlName="is_used">In Use
          </mat-checkbox>
        </td>
      </tr>
    </table>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button mat-dialog-close [disabled]="adddstnumber.invalid" color="primary"
            cdkFocusInitial
            type="submit">Submit</button>
  </mat-dialog-actions>
</form>
