<h2 mat-dialog-title>{{editmode?"Edit User":"Add User"}}</h2>
<form [formGroup]="adduserform" (ngSubmit)="submituserform()">
  <mat-dialog-content>
    <mat-form-field class="demo-full-width">
      <mat-label>First Name</mat-label>
      <input type="text" matInput placeholder="John" formControlName="firstname" required />
      <mat-error *ngIf="adduserform.get('firstname').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="demo-full-width">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput placeholder="Deo" formControlName="lastname" required />
      <mat-error *ngIf="adduserform.get('lastname').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="demo-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="example@gmail.com"
        formControlName="email"
        required
      />
      <mat-error *ngIf="adduserform.get('email').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="demo-full-width">
      <mat-label>Mobile</mat-label>
      <input type="number" matInput placeholder="9999999999" formControlName="mobile" required />
      <mat-error *ngIf="adduserform.get('mobile').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="demo-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" required />
      <mat-error *ngIf="adduserform.get('password').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="demo-full-width">
      <mat-label>Organization Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Voicetech"
        formControlName="organization_name"
        required
      />
      <mat-error *ngIf="adduserform.get('organization_name').invalid">
        {{'validations.required'| translate}}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button
      mat-raised-button
      mat-dialog-close
      [disabled]="adduserform.invalid"
      color="primary"
      type="submit"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
