<page-header class="bg-blue-600"></page-header>

<section>
   <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="mat-card">
           <h3 class="tl-1">Internal Sip Setting</h3>
           <a href="javascript:void(0)" type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary">Add</a>
           <app-internal-sip></app-internal-sip>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mat-card">
            <h3 class="tl-1">External Sip Setting</h3>
            <a href="javascript:void(0)" type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"> Upload profile</a>
            <a href="javascript:void(0)" type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"> Upload Setting</a>
            <a href="javascript:void(0)" type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary">ADD Profile</a>
            <a href="javascript:void(0)" type="button" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary">ADD Setting</a>
            <app-extrenal-sip></app-extrenal-sip>
          </div>
        </div>
      </div>
   </div>
</section>
