<breadcrumb></breadcrumb>

<div class="matero-row" fxLayout="row wrap">

  <!-- Statistics -->
  
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100"
       *ngFor="let stat of stats">
    <mat-card [ngClass]="['text-white', stat.color]">
      <mat-card-title class="f-s-22 f-w-400">{{stat.title}}</mat-card-title>
      <mat-card-content>
        <h2>{{stat.amount}}</h2>
        <mat-icon class="icon-set">{{stat.rsicon}}</mat-icon>
        <mtx-progress [value]="stat.progress.value"
                      height="2px"
                      foreground="rgba(255,255,255,1)"
                      background='rgba(0,0,0,.5)'>
        </mtx-progress>
      </mat-card-content>
    </mat-card>
   
  </div>


  <!-- Charts -->
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="60">
    <mat-card>
      <mat-card-subtitle>Traffic</mat-card-subtitle>
      <div id="chart1"></div>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="40">
    <mat-card>
      <mat-card-subtitle>Regions</mat-card-subtitle>
      <div id="chart2"></div>
    </mat-card>
  </div>

  
</div>
