:host ::ng-deep .mtx-grid {
    height: 480px;
  }
  
  .mat-header-cell {
    color: rgba(0, 0, 0, .54);
    font-size: 14px !important;
  }
  
  .st-chk {
    width: 50%;
    float: left;
    padding: 6px 0px;
}