<style>
 h3.title {
    color: #1a0303eb;
    margin-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid#cccccc42;
}
button.m-t-8.st-submit {
  background: #0153ab;
    color: #fff;
    padding: 8px 16px;
    border: navajowhite;
    border-radius: 4px;
    margin-right: 10px;
}
button.m-t-8.st-close {
  background: #d92317;
    color: #fff;
    padding: 8px 16px;
    border: navajowhite;
    border-radius: 4px;
    float: right;
 }
 .form-control {
    width: 100%;
    padding: 10px;
}
.form-group {
    margin-bottom: 15px;
}
 
</style>
<h3 mat-dialog-title class="title">Edit Plan</h3>
<div mat-dialog-content>
  <form>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
        <input type="text" class="form-control" id="plan-title" placeholder=" Title" name="Title">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
        <input type="text" class="form-control" placeholder=" Price" name="Price">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
        <input type="text" class="form-control" placeholder=" discount price" name="discount">
         </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
        <input type="text" class="form-control" placeholder=" Validity" name="Validity">
        </div>
      </div>
     
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button  class="m-t-8 st-submit">Update</button>
  <button  (click)="onClose()"   class="m-t-8  st-close" >Close</button>

</div>
