<h2 mat-dialog-title>Edit Subordinate </h2>
<form class="form-field-full"  [formGroup]="addstaffform" (ngSubmit)="submituserform()">
<mat-dialog-content >
    <div fxLayout="row wrap" fxLayoutGap="8px grid">

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name" formControlName="firstname"
                 required>
          <mat-error>
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name" formControlName="lastname"
                 required>
          <mat-error>
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>


      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="text" matInput placeholder="Email" formControlName="email"
                 required>
          <mat-error>
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Mobile</mat-label>
          <input type="number" matInput placeholder="Mobile" formControlName="mobile"
                 required>
          <mat-error>
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>


      <!-- <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" formControlName="password"
                 required>
          <mat-error>
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div> -->

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Select Role</mat-label>
          <mat-select formControlName="role" required>
            <mat-option *ngFor="let role of allroles" [value]="role._id">
              {{role?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-form-field>
          <mat-label>Add By</mat-label>
          <mat-select formControlName="added_by" required>
            <mat-option *ngFor="let staff of allstaff" [value]="staff._id">
              {{staff?.firstname}} {{staff?.lastname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="50" fxFlex.lt-sm="100">
        <mat-checkbox class="st-chk" [value]="falseValue"
                      (change)="checkboxChange($event.source, $event.checked)"
                      formControlName="approvedstatus">Approve
        </mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button
      mat-raised-button
      [disabled]="addstaffform.invalid"
      color="primary"
      type="submit"
    >
      Submit
    </button>
  </mat-dialog-actions>
  </form>
