.bx-1 {
    padding: 10px;
    text-align: center;
    background: #36a5f4;
    border-radius: 5px;
}
.bx-1 p {
    color: #fff;
    font-size: 18px;
}
.bx-1 h2{
    color: #fff;
    font-size: 35px;
    margin: 10px;
}
.bx-2 {
    padding: 10px;
    background: #3e7fa7;
    margin-bottom: 7px;
    border-radius: 5px;

}
  
.bx-2 p{
    margin: 0px;
    color: #fff;
    font-size: 18px;
}
.bx-2 small{
    color: #fff;
    font-size: 14px;
}
.bx-2 span{
   float: right; 
   margin-top: -15px;
   color: #fff;
   font-size: 30px;
}
.bx-2.st-1 {
    background: #0cbd14;
}
.bx-2.st-2 {
    background: #1fb1b1;
}
.bx-2.st-3 {
    background: #e72304;
}
.bx-2.st-4 {
    background: #9c1905;
}