<page-header class="bg-blue-600"></page-header>

<section class="ptb">
    <div class="container">
       <div class="row">
           <div class="col-lg-12">
            <div class="frame">
                <div class="sidepanel bg-blue-600">
                    <div class="profile">
                        <div class="wrap">
                            <img class="profile-img" [src]="defaulturl" class="online bg-white" alt="" />
                            <p>VoiceTech Support</p>
                            <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                            <div class="status-options">
                                <ul>
                                    <li class="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                                    <li class="status-away"><span class="status-circle"></span> <p>Away</p></li>
                                    <li class="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                                    <li class="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <!-- <label for=""> <mat-icon matSuffix class="i-size">search</mat-icon></label> -->
                        <!-- <input type="text" class="int-search" placeholder="Search..." /> -->
                        <!-- <form class="example-form">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Search</mat-label>
                            <mat-select>
                              <mat-option *ngFor="let user of list" [value]="user._id">
                                {{user.firstname}} {{user.lastname}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                      </form> -->
                        <h4 class="ch-txt">Chats</h4>
                    </div>
                    <div class="contacts">
                        <ul style="list-style: none; padding: 0px;">
                            <li (click)="contact(chatroom.userid?._id)" class="contact" matRipple [ngClass]="chatroom.userid?._id == chatdetail?._id?'active':''" *ngFor="let chatroom of chatrooms">
                                <div class="wrap">
                                    <!-- <span class="contact-status online"></span> -->
                                    <img [src]="chatroom?.userid?.userimg" alt="" />
                                    <div class="meta">
                                        <p class="name">{{chatroom?.userid?.firstname}} {{chatroom?.userid?.lastname}} <span *ngIf="chatroom?.new_unread_msg" style="padding: 0.35em 0.65em;
                                          font-size: 0.75em; "  class="bg-red-500 p-4 m-4 r-4" >
                                          {{chatroom?.new_unread_msg}}
                                        </span></p>
                                        <p class="preview">{{chatroom?.last_msg}}</p>
                                    </div>
                                </div>
                            </li>
                            <!-- <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status busy"></span>
                                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Harvey Specter</p>
                                        <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status away"></span>
                                    <img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Rachel Zane</p>
                                        <p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status online"></span>
                                    <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Donna Paulsen</p>
                                        <p class="preview">Mike, I know everything! I'm Donna..</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status busy"></span>
                                    <img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Jessica Pearson</p>
                                        <p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status"></span>
                                    <img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Harold Gunderson</p>
                                        <p class="preview">Thanks Mike! :)</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status"></span>
                                    <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Daniel Hardman</p>
                                        <p class="preview">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status busy"></span>
                                    <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Katrina Bennett</p>
                                        <p class="preview">I've sent you the files for the Garrett trial.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status"></span>
                                    <img src="http://emilcarlsson.se/assets/charlesforstman.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Charles Forstman</p>
                                        <p class="preview">Mike, this isn't over.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="contact">
                                <div class="wrap">
                                    <span class="contact-status"></span>
                                    <img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
                                    <div class="meta">
                                        <p class="name">Jonathan Sidwell</p>
                                        <p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <!-- <div class="bottom-bar">
                        <button class="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
                        <button class="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
                    </div> -->
                </div>
                <div class="content">
                    <div class="contact-profile">
                        <img [src]="chatdetail?.userimg" alt="" />
                        <p class="f-w-400 f-s-18">{{chatdetail?.firstname}} {{chatdetail?.lastname}}</p>
                        <div class="social-media">
                            <!-- <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                             <i class="fa fa-instagram" aria-hidden="true"></i> -->
                             <button style="float: right;
                                margin: 6px 0 0 8px;" mat-icon-button  [matMenuTriggerFor]="allchat"><mat-icon>more_vert</mat-icon></button>
<mat-menu #allchat="matMenu">
  <button mat-menu-item routerLink="/user/user-detail/{{chatdetail._id}}" >Contact info</button>
  <!-- <button mat-menu-item (click)="clearchat(chatdetail._id)">Clear messages</button> -->
  <button mat-menu-item (click)="deleteall(chatdetail._id)">Delete chat</button>
</mat-menu>
                        </div>
                    </div>
                    <div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="scroll-behavior: smooth;" style="width: 100%;">
                        <ul style="padding: 0px;">
                            <li *ngFor="let chat of chats" [ngClass]=" chat?.msgbysupport ? 'replies' : 'sent'">
                                <img *ngIf="!chat?.msgbysupport" [src]=" chat?.msgbysupport ? defaulturl : chat.userid.userimg" alt="" />
                                <button style="float: right;
                                margin: 6px 0 0 8px;" mat-icon-button *ngIf="chat?.msgbysupport" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="deleteonechat(chat._id)">Delete</button>
</mat-menu>
                                <p>{{chat?.msg}}<br><span><small style="opacity: 0.5;">{{chat?.createdAt|date:'medium'}}</small></span></p>
                            </li>
                            <!-- <li class="replies">
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                <p>When you're backed against the wall, break the god damn thing down.</p>
                            </li>
                            <li class="replies">
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                <p>Excuses don't win championships.</p>
                            </li>
                            <li class="sent">
                                <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                                <p>Oh yeah, did Michael Jordan tell you that?</p>
                            </li>
                            <li class="replies">
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                <p>No, I told him that.</p>
                            </li>
                            <li class="replies">
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                <p>What are your choices when someone puts a gun to your head?</p>
                            </li>
                            <li class="sent">
                                <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                                <p>What are you talking about? You do what they say or they shoot you.</p>
                            </li>
                            <li class="replies">
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                            </li> -->
                        </ul>
                    </div>
                    <div class="message-input">
                        <div class="wrap">
                          <form [formGroup]="sendmsg" (submit)="submitchat()">
                        <input matRipple type="text" placeholder="Write your message..."  formControlName="msg" />
                        <button matRipple class="submit" type="submit" ><mat-icon matSuffix class="i-size">send</mat-icon></button>
                      </form>
                        </div>
                    </div>
                </div>
            </div>
           </div>
       </div>
    </div>
</section>
