table.tbone {
    width: 100%;
    text-align: center;
}
table.tbone {
    width: 100%;
    text-align: left;
    font-size: 14px !important;
    color: #675a5a;
    line-height: 25px;
}
mat-card-subtitle.mat-card-subtitle.h-text {
    background: #142149;
    color: #fff;
    padding: 15px;
    font-size: 16px;

}
.col-lg-12.stt {
    text-align: right;
    margin: 15px 0px;
}
mat-form-field.mat-form-field.wd.ng-tns-c123-2.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-star-inserted {
    width: 100% !important;
}
mat-form-field.mat-form-field.wd.ng-tns-c123-4.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-star-inserted.mat-form-field-should-float.mat-focused {
    width: 100% !important;
}

